body {
    min-width: 800px;
    background-image: url('../img/snapedit_1707390661297\ \(1\).png');
    background-size: cover;
    background-position: top;
}

.my-btn {
    touch-action: manipulation;
    position: relative;
    padding: 10px 5px;
    width: 100px;
    border: 2px solid #ff29ff;
    outline: none;
    background-color: #2dffff;
    border-radius: 20px;
    box-shadow: 3px 10px 12.5px rgba(0, 0, 0, 0.2);
    transition: 0.13s ease-in-out;
    cursor: pointer;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.square100 {
    width: 800px;
}

.square81 {
    width: 720px;
}

.square49 {
    width: 560px;
}

.button-11 {
    touch-action: manipulation;
    position: relative;
    padding: 0;
    width: 80px;
    height: 80px;
    border: 2px solid #2dffff;
    outline: none;
    background-color: #f4f5f6;
    border-radius: 20px;
    box-shadow: 3px 10px 12.5px rgba(0, 0, 0, 0.2);
    transition: 0.13s ease-in-out;
    cursor: pointer;
}

.button-11__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: inset 0px -4px 0px #dddddd, 0px -4px 0px #f4f5f6;
    border-radius: 20px;
    transition: 0.13s ease-in-out;
    z-index: 1;
    color: #f4f5f6;
}

.activation {
    box-shadow: none!important;
}

.content_activation {
    color: #2dffff;
    background-color: #2dffff;
    box-shadow: none!important;
    border: 2px solid #ff29ff;
}

.content_activation_bomb {
    background-color: #ff29ff;
    box-shadow: none!important;
    border: 2px solid #2dffff;
}

.point {
    width: 70px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #2dffff;
    color: #ff29ff;
    border: 3px solid #ff29ff;
    border-radius: 5px;
}

/* EXPERIMENT BONUS 1 */
.my_layer {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 101%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    background-image: url('../img/pngtree-you-lose-text-with-neon-effect-png-image_6028163.png');
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 768px) {
    body {
        min-width: 800px;
        background-image: url('../img/snapedit_1707390661297\ \(2\).png');
        background-size: cover;
        background-position: top;
    }

}
@media screen and (min-width: 576px) {
    body {
        min-width: 800px;
        background-image: url('../img/992px.png');
        background-size: cover;
        background-position: top;
    }
    
}